@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #ffffff;
  height: 100%;
  line-height: 1;
  font-size: 13;
  color: #000000;
  font-family: Roboto;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 15px 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__container {
  min-height: 130px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}
.header__logo {
  font-family: Six Caps;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.45em;
  -webkit-transition: all;
  transition: all;
}
.header__logo span {
  color: #145121;
}
.header__logo:hover {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  color: #145121;
}
.header__bottom {
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.language-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.language-menu__item {
  font-weight: 100;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.1em;
}
.language-menu__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.language-menu__link:hover {
  text-decoration: underline;
}

.value-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.value-menu__item {
  font-weight: 100;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.05em;
}
.value-menu__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.value-menu__link:hover {
  text-decoration: underline;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__masterklass {
  background: url("../img/allpage/01.png") center/cover no-repeat;
  width: 100%;
  height: 100%;
}
.main-block {
  margin: 0px 0px 50px 0px;
}
.main-block__container {
  padding: 0px 50px;
}
.main-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main-block__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.337%;
          flex: 0 1 33.337%;
}
.main-block__tittle {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: 0.13em;
  font-weight: 300;
  margin: 0px 0px 40px 0px;
}
.main-block__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  background: #fdfdfd;
  border: 0.5px solid #000000;
  font-size: 13px;
  line-height: 115%;
  padding: 5px 30px;
  color: inherit;
}
.main-block__btn:hover {
  -webkit-box-shadow: 3px 3px 3px #72977a;
          box-shadow: 3px 3px 3px #72977a;
}

.options {
  padding: 0px 0px 50px 0px;
}
.options__header {
  padding: 50px 0;
}
.options__contant {
  margin: 0 -15px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.options__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.header-options__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 300;
  font-size: 23px;
  line-height: 117%;
  letter-spacing: 0.1em;
}

.item-options > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-options__image {
  display: block;
}
.item-options__image:hover {
  -webkit-box-shadow: 3px 3px 3px #72977a;
          box-shadow: 3px 3px 3px #72977a;
}
.item-options__image img {
  width: 100%;
}
.item-options__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-options__label {
  font-family: Six Caps;
  font-size: 22px;
  line-height: 131%;
  letter-spacing: 0.13em;
}
.item-options__price {
  font-size: 13px;
  line-height: 115%;
  letter-spacing: 0.1em;
  color: #555353;
}
.item-options__price span {
  text-decoration: line-through;
}

.masterklass {
  padding: 70px 0;
}
.masterklass__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.masterklass__item {
  padding: 0 30px 0 0;
}

.title-masterklass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-width: 200px;
  margin: 0px 0px 40px 0px;
}
.title-masterklass__label {
  font-size: 23px;
  line-height: 117%;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1em;
  margin: 0px 0px 5px 0px;
}
.title-masterklass__sublabel {
  font-weight: 300;
  font-size: 13px;
  line-height: 115%;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.form-masterklass__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.form-masterklass__body ::-webkit-input-placeholder {
  font-weight: 100;
  font-size: 13px;
  line-height: 115%;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.form-masterklass__name {
  display: block;
  height: 25px;
  border-bottom: 0.5px solid #ffffff;
}
.form-masterklass__name input {
  background: transparent;
}
.form-masterklass__tel {
  display: block;
  height: 25px;
  border-bottom: 0.5px solid #ffffff;
  margin: 0px 0px 30px 0px;
}
.form-masterklass__tel input {
  background: transparent;
}
.form-masterklass__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-masterklass__btn button {
  padding: 5px 40px;
  min-height: 30px;
  background: #bcbcbc;
  border: 0.1px solid #000000;
  color: #ffffff;
  font-weight: 100;
}
.form-masterklass__btn button:hover {
  -webkit-box-shadow: 3px 3px 3px #72977a;
          box-shadow: 3px 3px 3px #72977a;
}

.statistic {
  padding: 100px 0px;
}
.statistic__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.items-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
}
.items-statistic > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.items-statistic > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.items-statistic__shops {
  background: #dbd8e9;
}
.items-statistic__clients {
  background: #feedf4;
}
.items-statistic__mk {
  background: #ffddd9;
}

.slogan-statistic {
  text-align: center;
}
.slogan-statistic > *:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.slogan-statistic__logo {
  font-family: Six Caps;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.45em;
}
.slogan-statistic__logo span {
  color: #72977a;
}
.slogan-statistic__text {
  width: 270px;
  font-weight: 100;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.05em;
}

.footer {
  padding: 100px 0px 50px 0px;
  background: #000000;
  color: #ffffff;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-footer__item {
  color: inherit;
}
.menu-footer__link {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin: 0px 0px 25px 0px;
}

.subscribe-footer {
  margin: 0px 0px 0px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe-footer > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.subscribe-footer__label {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.1em;
  font-weight: 100;
}
.subscribe-footer__form {
  display: block;
  border: 1px solid #ffffff;
}
.subscribe-footer__mail {
  display: inline-block;
  height: 35px;
  width: 300px;
}
.subscribe-footer__btn {
  padding: 5px 10px;
  display: inline-block;
  height: 29px;
  color: #ffffff;
  background: #000000;
  font-size: 13px;
  line-height: 115%;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-footer > * {
  color: inherit;
}
.contacts-footer > *:not(:last-child) {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin: 0px 0px 40px 0px;
}
.contacts-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 115%;
  height: 30px;
  background: #ffffff;
  color: #000000;
  text-transform: capitalize;
}

.label-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Six Caps;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.45em;
}