@import "_nullstyle";

body {
    background: #ffffff;
    height: 100%;
    line-height: 1;
    font-size: 13;
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 15px 15px 0px 15px;
    box-sizing: content-box;
}
//****
.header {
    &__container {
        min-height: 130px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin: 0px 0px 10px 0px;
    }

    &__language-menu {
    }

    &__logo {
        font-family: Six Caps;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0.45em;
        transition: all;
        span {
            color: #145121;
        }
        &:hover {
            transform: scale(1, -1);
            color: #145121;
        }
    }

    &__value-menu {
    }

    &__bottom {
        padding: 0 35px;
        display: flex;
        justify-content: space-between;
    }

    &__menu {
    }

    &__basket {
    }
}
.menu {
    &__link {
    }
}
.basket {
    &__link {
    }
}

.language-menu {
    &__list {
        display: flex;
    }

    &__item {
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.1em;
        &:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }
}
.value-menu {
    &__list {
        display: flex;
    }

    &__item {
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.05em;
        &:not(:last-child) {
            margin: 0px 10px 0px 0px;
        }
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }
}
//****************************
.page {
    flex: 1 1 auto;
    &__main-block {
    }
    &__options {
    }
    &__masterklass {
        background: url("../img/allpage/01.png") center / cover no-repeat;
        width: 100%;
        height: 100%;
    }
    &__statistic {
    }
}
//******************************
.main-block {
    margin: 0px 0px 50px 0px;
    &__container {
        padding: 0px 50px;
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__column {
        flex: 0 1 33.337%;
    }

    &__body {
    }
    &__tittle {
        font-size: 20px;
        line-height: 118%;
        letter-spacing: 0.13em;
        font-weight: 300;
        margin: 0px 0px 40px 0px;
    }

    &__btn {
        display: inline-flex;
        text-align: center;
        align-items: center;
        min-height: 40px;
        background: #fdfdfd;
        border: 0.5px solid #000000;
        font-size: 13px;
        line-height: 115%;
        padding: 5px 30px;
        color: inherit;
        &:hover {
            box-shadow: 3px 3px 3px #72977a;
        }
    }
}
//***********************************

.options {
    padding: 0px 0px 50px 0px;
    &__container {
    }

    &__header {
        padding: 50px 0;
    }

    &__contant {
        margin: 0 -15px;
        padding: 50px 0;
        display: flex;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 25%;
    }

    &__item {
    }
}

.header-options {
    &__title {
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 23px;
        line-height: 117%;
        letter-spacing: 0.1em;
    }
}
.item-options {
    & > *:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
    &__image {
        display: block;
        &:hover {
            box-shadow: 3px 3px 3px #72977a;
        }
        img {
            width: 100%;
        }
    }

    &__discription {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__label {
        font-family: Six Caps;
        font-size: 22px;
        line-height: 131%;
        letter-spacing: 0.13em;
    }

    &__price {
        font-size: 13px;
        line-height: 115%;
        letter-spacing: 0.1em;
        color: #555353;
        span {
            text-decoration: line-through;
        }
    }
}
//*****************************************
.masterklass {
    padding: 70px 0;
    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        padding: 0 30px 0 0;
    }
}

.item-masterklass {
    &__title {
    }

    &__form {
    }
}
.title-masterklass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    margin: 0px 0px 40px 0px;
    &__label {
        font-size: 23px;
        line-height: 117%;
        font-weight: 300;
        color: #ffffff;
        letter-spacing: 0.1em;
        margin: 0px 0px 5px 0px;
    }

    &__sublabel {
        font-weight: 300;
        font-size: 13px;
        line-height: 115%;
        color: #ffffff;
        letter-spacing: 0.1em;
    }
}
.form-masterklass {
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        ::-webkit-input-placeholder {
            font-weight: 100;
            font-size: 13px;
            line-height: 115%;
            color: #ffffff;
            letter-spacing: 0.05em;
        }
    }

    &__name {
        display: block;
        height: 25px;
        border-bottom: 0.5px solid #ffffff;
        input {
            background: transparent;
        }
    }

    &__tel {
        display: block;
        height: 25px;
        border-bottom: 0.5px solid #ffffff;
        margin: 0px 0px 30px 0px;
        input {
            background: transparent;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        button {
            padding: 5px 40px;
            min-height: 30px;
            background: #bcbcbc;
            border: 0.1px solid #000000;
            color: #ffffff;
            font-weight: 100;
            &:hover {
                box-shadow: 3px 3px 3px #72977a;
            }
        }
    }
}
//***********************************************
.statistic {
    padding: 100px 0px;
    &__container {
    }

    &__body {
    }

    &__column {
        display: flex;
        justify-content: space-between;
    }

    &__items {
    }

    &__slogan {
    }
}

.items-statistic {
    display: flex;

    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.05em;
    & > *:not(:last-child) {
        margin: 0px 20px 0px 0px;
    }
    & > * {
        display: flex;
        width: 90px;
        height: 90px;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 50%;
    }
    &__shops {
        background: #dbd8e9;
    }

    &__clients {
        background: #feedf4;
    }

    &__mk {
        background: #ffddd9;
    }
}
.slogan-statistic {
    text-align: center;
    & > *:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }
    &__logo {
        font-family: Six Caps;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0.45em;
        span {
            color: #72977a;
        }
    }
    &__text {
        width: 270px;
        font-weight: 100;
        font-size: 13px;
        line-height: 120%;
        letter-spacing: 0.05em;
    }
}
//************************************
.footer {
    padding: 100px 0px 50px 0px;
    background: #000000;
    color: #ffffff;
    &__container {
    }

    &__body {
    }

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__column {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
    }
}

.column-footer {
    &__menu {
    }

    &__subscribe {
    }

    &__contacts {
    }
}
.menu-footer {
    &__list {
    }

    &__item {
        color: inherit;
    }

    &__link {
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        margin: 0px 0px 25px 0px;
    }
}
.subscribe-footer {
    margin: 0px 0px 0px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
    &__label {
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: 0.1em;
        font-weight: 100;
    }

    &__form {
        display: block;
        border: 1px solid #ffffff;
    }

    &__mail {
        display: inline-block;
        height: 35px;
        width: 300px;
    }

    &__btn {
        padding: 5px 10px;
        display: inline-block;
        height: 29px;
        color: #ffffff;
        background: #000000;
        font-size: 13px;
        line-height: 115%;
    }
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    & > * {
        color: inherit;
    }
    & > *:not(:last-child) {
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: lowercase;
        margin: 0px 0px 40px 0px;
    }
    &__mail {
    }

    &__tel {
    }

    &__btn {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 13px;
        line-height: 115%;
        height: 30px;
        background: #ffffff;
        color: #000000;
        text-transform: capitalize;
    }
}
.label-footer {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Six Caps;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0.45em;
    }
}
